[submodule "external/libyuv"]
	path = external/libyuv
    url = https://github.com/mtdcy/libyuv.git
[submodule "external/openjpeg"]
	path = external/openjpeg
	url = https://github.com/mtdcy/openjpeg
[submodule "external/libjpeg-turbo"]
	path = external/libjpeg-turbo
	url = https://github.com/mtdcy/libjpeg-turbo.git
