[submodule "external/libyuv"]
	path = external/libyuv
    url = https://github.com/mtdcy/libyuv.git
[submodule "external/ABE"]
	path = external/ABE
	url = https://github.com/mtdcy/ABE.git
	branch = origin/v1.x
[submodule "external/FFmpegStatic"]
	path = external/FFmpegStatic
	url = https://github.com/mtdcy/FFmpegStatic.git
